extends ../shared/template

block content
  h1 New Food Item
  #user(data-id='#{user._id}')= user.email

  input#foodInput(type='text')
  button#search Search Foods

  #results

  button#submit-food Submit
